[submodule "src/expat"]
	path = src/expat
	url = https://github.com/wxWidgets/libexpat.git
	branch = wx
[submodule "src/tiff"]
	path = src/tiff
	url = https://github.com/wxWidgets/libtiff.git
	branch = wx
